@reference "tailwindcss";

@layer components {
  .section__educations {
    .timeline {
      &__group-title {
        @apply flex items-center justify-center gap-4 mt-10 text-gray-100;
        
        & .bar {
          @apply w-full max-w-80 h-[1.5px] rounded-full;
          
          background: linear-gradient(to right, var(--bg-color-primary), var(--color-gray-200));
        }

        & .bar__reverse {
          background: linear-gradient(to left, var(--bg-color-primary), var(--color-gray-200));
        }
      }

      &__list {
        // @apply flex flex-col gap-4;
      }

      &__item {
        @apply grid grid-cols-3 items-start gap-4 mt-8;

      }

      &__content {
        @apply flex flex-col col-span-2;

      }
      
      &__header {
        @apply flex items-center gap-4 justify-end leading-relaxed;
        
        & > svg {
          @apply w-3 h-3;

          color: var(--color-gray-200)
        }

      }

      &__date {
        @apply min-w-28;
      }

      &__title {
        @apply flex items-center gap-2 text-lg font-bold;
      }

      &__status {
        @apply text-gray-100 text-sm font-medium leading-tight;
      }

      &__description {
          @apply flex flex-col text-gray-100 text-sm font-medium leading-tight;
      }
    }
  }
}