@reference "tailwindcss";

@layer components {
  .section {
    @apply mt-28 max-w-198 mx-auto;

    scroll-margin-top: 150px; /* 각 섹션의 상단에서 100px 떨어지게 */
    
    &__title {
      @apply text-center;
  
      color: var(--color-primary-orange);
      font-weight: var(--font-semibold);
    }
  
    &__description {
      @apply text-center text-xl mt-2;
  
      font-weight: var(--font-semibold);
    }
  }
}
