@reference 'tailwindcss';

@layer components {
  .project__detail-container {
  }
  
  .shape {
    &--orange {
      color: var(--color-primary-orange);
    }
  
    &--green {
      color: var(--color-primary-green);
    }
  
    &--blue {
      color: var(--color-primary-blue);
    }
  }

  .project__detail-header {
    @apply flex flex-col gap-6;
  }

  .project__detail-title {
    @apply text-2xl font-bold;
  }

  .project__detail-caption {
    @apply text-sm;

    color: var(--color-gray);
  }

  .project__detail-description {
    @apply mt-2;
  }

  .project__detail-skills {
    @apply flex flex-wrap gap-2 mt-2;
  }

  .project__detail-divider {
    @apply w-full h-[1px] mt-8 mb-8;

    background-color: var(--color-gray-100);
  }

  .project__detail-content-title {
    @apply text-lg font-bold mt-8;
  }

  .project__detail-content-list {
    @apply flex flex-col list-none;

    list-style: outside;

    &.level-0 {
      @apply ml-5 text-base gap-6 mt-4 font-semibold;
      list-style-type: decimal;
    }

    &.level-1 {
      @apply list-disc ml-5 text-sm gap-2 mt-2 font-normal;
    }
  }
}