@reference "tailwindcss";

@layer components {
  .project__card {
    @apply rounded-[1rem] p-6 cursor-pointer;

    &--orange {
      color: var(--color-primary-orange);
      &:hover {
        box-shadow: inset 0 0 80px 2px var(--color-primary-orange);
        
      }
    }

    &--green {
      color: var(--color-primary-green);
      &:hover {
        box-shadow: inset 0 0 80px 2px var(--color-primary-green);
        
      }
    }

    &--blue {
      color: var(--color-primary-blue);
      &:hover {
        box-shadow: inset 0 0 80px 2px var(--color-primary-blue);
        
      }
    }
  }
  .project__card-shape {
    // @apply fill-orange-500;
  }

  .project__card-title {
    @apply text-xl font-bold mt-3;

    color: var(--color-text-primary)
  }

  .project__card-description {
    @apply text-sm text-gray-100 mt-4;
  }

  .project__card-skills {
    @apply flex flex-wrap gap-2 mt-10;
  }

  .project__card-skill {
    @apply bg-white rounded-sm;
  }
}