@reference 'tailwindcss';

@layer components {
  
  .glass-container {
    @apply relative flex;
    color: #000;
    background: transparent;
    border-radius: 6rem;
    overflow: hidden;
    isolation: isolate;
    // box-shadow: 0 6px 6px rgba(0, 0, 0, 0.02), 0 0 20px rgba(0, 0, 0, 0.01);
    box-shadow: 0px 6px 10px -8px rgba(255, 255, 255, 0.2);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  }
  
  .glass-filter {
    position: absolute;
    inset: 0;
    z-index: 0;
    backdrop-filter: blur(4px);
    filter: url(#lg-dist);
    isolation: isolate;
  }
  
  .glass-overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.25);
  }
  
  .glass-specular {
    position: absolute;
    inset: 0;
    z-index: 2;
    border-radius: inherit;
    overflow: hidden;
    box-shadow: inset 0 0 8px -2px rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.1);
    // box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.75 ),
    //   inset 0 0 5px rgba(255, 255, 255, 0.75);
  }
  
  .glass-content {
    @apply relative flex px-2 py-2 gap-2 items-center justify-center;
    z-index: 3;
    border-radius: inherit;
    background: rgba(255, 255, 255, 0.01);
  }
}
