@reference "tailwindcss";

@layer components {
  .section__projects {
    .project__cards {
      @apply grid grid-cols-1 gap-4 mt-8;
      @apply md:grid-cols-2;
      @apply lg:grid-cols-3;
    }
  }
}