@reference 'tailwindcss';

@layer components {
  .project__modal-container {
    @apply fixed top-0 left-0 w-full h-full z-9999;

    backdrop-filter: blur(2px);
  }

  .project__modal-background {
    @apply fixed top-0 left-0 w-full h-full;

    background: var(--opacity-20);
  }

  .project__modal {
    @apply fixed top-0 left-0 w-full h-full rounded-none p-[5vw];
    @apply md:w-[50vw] md:h-auto md:max-h-[80vh] md:left-[50%] md:translate-x-[-50%] md:top-[30%] md:translate-y-[-30%] md:rounded-[2rem];

    overflow-y: auto;      // 모달 내부만 스크롤 가능
    overscroll-behavior: contain;  
    box-shadow: 0 0 8px -2px var(--opacity-20);
    background: var(--bg-color-primary);

    &::-webkit-scrollbar {
      @apply w-[4px];
      @apply md:w-[8px];
    }
    
    &::-webkit-scrollbar-thumb {
        background: var(--color-gray-200); /* 스크롤바 색상 */
        border-radius: 10px; /* 스크롤바 둥근 테두리 */
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;  /*스크롤바 뒷 배경 색상*/
    }
  }
  .project__modal-close {
    @apply absolute top-6 right-6 cursor-pointer p-2 rounded-xl;

    &:hover {
      box-shadow: 0 0 8px -2px var(--opacity-40);
    }
  }

  .project__modal-content {
    
  }


}