@reference "tailwindcss";

@layer components {
  .home {
    @apply relative py-12;
  }  

  .nav-container {
    @apply relative sticky top-12 min-w-0 flex justify-center z-9999;
    @apply sm:mt-12
  }
}