@reference "tailwindcss";

@layer components {
  .home {
    @apply relative pt-12 pb-100;
  }  

  .nav-container {
    @apply relative flex justify-center sticky top-6 z-9999;
    @apply sm:mt-6;
  }
}