@reference "tailwindcss";

@layer components {
  .section__skills {
    .filter {
      @apply flex text-sm py-1 px-1 mt-8 rounded-full w-fit mx-auto text-gray-500;
      @apply sm:text-base;

      background: RGB(from var(--color-white) r g b / 0.8);
      // background: var(--opacity-80);
      
      &__items {
        @apply flex gap-0.25;
        @apply sm:gap-1;
      }
      
      &__item {
        @apply font-medium py-1.5 px-3 rounded-full cursor-pointer z-10;
        
        &.selected {
          @apply font-bold text-white;
          
          background: var(--color-gray-400);
        }
      }
    }
  
    .skill__icons {
      @apply relative grid grid-cols-[repeat(6,48px)] auto-rows-max gap-3 mt-8;
    }
  
    .skill__icon {
      @apply relative w-12 h-12 rounded-sm bg-white;
      filter: blur(8px);
      opacity: 0.5;
    }
    
    .selected {
      @apply opacity-100;
      filter: blur(0px);
  
      &::after {
        filter: blur(0px);
        opacity: 1;
      }
    }
  }
}