@reference "tailwindcss";

@layer components {
  .section__skills {
    .filter__container {
      @apply relative flex items-center justify-center mt-6;
    }

    .filter__wrapper {
      @apply relative rounded-full;
    }
    
    .filter {
      @apply relative flex p-2 rounded-full items-center justify-center;

      color: var(--color-text-primary);
      
      &__items {
        @apply flex whitespace-nowrap;
        @apply sm:gap-2;

        flex-wrap: nowrap;
      }
      
      &__item {
        @apply font-medium py-3 px-3 rounded-full cursor-pointer z-10;
        
        &.selected {
          @apply font-bold;
          
          box-shadow: inset 0 0 16px 2px rgba(255, 255, 255, 0.45);
        }
      }
    }
  
    .skill__icons {
      // @apply relative grid grid-cols-[repeat(5,3rem)] auto-rows-max gap-4 mt-8;
      // @apply sm:grid-cols-[repeat(6,3rem)];
      @apply flex flex-wrap justify-center gap-4 mt-8 max-w-[20rem];
      @apply sm:max-w-[24rem];
    }
  
    .skill__icon {
      @apply relative;
      filter: blur(8px);
      opacity: 0.5;
    }
    
    .selected {
      @apply opacity-100;
      filter: blur(0px);
  
      &::after {
        filter: blur(0px);
        opacity: 1;
      }
    }
  }
}