@reference "tailwindcss";

@layer components {
  .section__skills {
    .filter {
      @apply flex text-sm px-0.5 mt-8 rounded-full w-fit mx-auto text-white;
      @apply sm:text-base;
      
      &__items {
        @apply flex gap-0.25;
        @apply sm:gap-1;
      }
      
      &__item {
        @apply font-medium py-3 px-3 rounded-full cursor-pointer z-10;
        
        &.selected {
          @apply font-bold;
          
          box-shadow: inset 0 0 16px 2px rgba(255, 255, 255, 0.45);
        }
      }
    }
  
    .skill__icons {
      @apply relative grid grid-cols-[repeat(5,48px)] auto-rows-max gap-3 mt-8;
      @apply sm:grid-cols-[repeat(6,48px)];
    }
  
    .skill__icon {
      @apply relative w-12 h-12 rounded-sm bg-white;
      filter: blur(8px);
      opacity: 0.5;
    }
    
    .selected {
      @apply opacity-100;
      filter: blur(0px);
  
      &::after {
        filter: blur(0px);
        opacity: 1;
      }
    }
  }
}