name: Reusable Deploy Workflow

on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        required: true
        type: string
    secrets:
      SERVER_HOST:
        required: true
      SERVER_USER:
        required: true
      SERVER_SSH_KEY:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.ENVIRONMENT }}
    steps:
      # 저장소 체크아웃
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy on Ubuntu server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ${{ vars.DEPLOY_DIR }}

            git fetch origin
            git checkout ${{ vars.DEPLOY_BRANCH }}
            git pull origin ${{ vars.DEPLOY_BRANCH }}

            pnpm install --frozen-lockfile
            pnpm build

            pm2 start ecosystem.config.js --only ${{ vars.PM2_APP_NAME }} || pm2 restart ${{ vars.PM2_APP_NAME }}
            pm2 save
