name: Deploy to Production

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/_deploy-base.yml
    with:
      ENVIRONMENT: production
    secrets: inherit
