name: Build and Deploy to Staging Server

on:
  push:
    branches:
      - feat/*
      - refactor/*
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/_deploy-base.yml
    with:
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
    secrets: inherit
