name: Deploy to Production

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - closed
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/_deploy-base.yml
    with:
      ENVIRONMENT: production
    secrets: inherit
