@reference 'tailwindcss';

@layer components {
  .blog__cards-container {
    @apply relative;
  }

  .blog__cards {
    @apply grid grid-cols-1 gap-4 mt-8;
    @apply md:grid-cols-2;
    @apply lg:grid-cols-3;


  }

  .blog__card-more-button {
    @apply flex w-full justify-center mt-8 cursor-pointer;
    @apply md:mx-auto md:w-auto;

    &-inner {
      @apply w-full py-4 rounded-full text-center;
      @apply sm:px-24 md:w-auto;

      &:hover {
        background: var(--bg-color-primary);
      }
    }
  }

  // .blog__card-link {
  //   @apply flex justify-center mt-8 cursor-pointer;

  //   &-inner {
  //     &:hover {
  //       background: var(--bg-color-primary);
  //     }
  //   }
  // }
}